<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051733606542-h6euaq1eppujjsur1dc7h1salvg62f53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051733606542-h6euaq1eppujjsur1dc7h1salvg62f53</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Fz_e_FL4v0c0EgGnzovZ5WWaqOQlkaI</string>
	<key>GCM_SENDER_ID</key>
	<string>1051733606542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.scu.orbit</string>
	<key>PROJECT_ID</key>
	<string>orbit-86c27</string>
	<key>STORAGE_BUCKET</key>
	<string>orbit-86c27.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051733606542:ios:8a229f2fb4d93a3065c9df</string>
</dict>
</plist>